// Form custom styling

.search-form {
	padding-left: @navbar-padding-horizontal * 4;
	.searchbox-icon {
		position: absolute;
		font-weight: 100;
		font-size: @font-size-h1;
		padding-top: @navbar-padding-vertical;
		margin-left: -(@navbar-padding-horizontal * 4);
	}
}

.radio-tab-label {
	font-weight: 400;
	opacity: .4;
	padding: 0 @padding-base-horizontal;
}
.radio-tab {
	display: none;
	&:checked + .radio-tab-label{
		opacity:1;
	}
}

.searchbox-input {
	background: transparent;
	border: none;
	width: 100%;
	font-weight: 100;
	font-size: @font-size-h1;
	padding: (@navbar-padding-vertical / 2) @navbar-padding-horizontal; 
	&:focus {
		outline: none;
	}
}

.searchbox + .searchbox {
	.egencia-icon {
		padding-top: (@navbar-padding-vertical / 2);
		&:before {
			content: " ";
			position: absolute;
			top: -(@navbar-padding-vertical * 1.5);
			margin-left: ((@navbar-padding-horizontal * 1.5) - 1px);
			height: 30px;
			border-left: 2px dashed;
			opacity: .3;
		}
	}
	.searchbox-input {
		padding-top: 0;
	}
}
.search-form-results {
	margin-top: (@padding-base-vertical * 8);
}

.label-hr {
	border-top: 1px solid #fff;
	margin: 0;
	opacity: .3;
}

.label-heading {
	opacity: .3;
	font-weight: 400;
	text-transform: uppercase;
	font-size: @font-size-small;
	letter-spacing: 1px;
	width: 100%;
	padding: @padding-base-vertical 0;
}
.search-form-results-list {
	padding: 0;
	list-style: none;
	li a {
		font-weight: 300;
		display: block;
		color: #fff;
		padding: @padding-base-vertical 0;
		opacity: .5;
		strong {
			font-weight: 600;
		}
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
		&.active {
			font-weight: 400;
			color: #009FC2;
			opacity: 1;
			.text-muted {
				color: #009FC2;
				opacity: .7;
			}
		}
	}
}

.prepend-result {
	display: inline-block;
	width: 35px;
	margin-right: @padding-base-horizontal;
	font-weight: 400;
	.egencia-icon {
		padding-left: (@padding-base-horizontal / 2.5);
	}
}

.mulit-select {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100px;
	background: #fff;
	padding:0 @padding-base-horizontal;
	.mulit-select-list {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 8px 0 0 0;
			border-bottom: 1px solid #ddd;
			input {
				vertical-align: top;
			}
			label {
				margin:0;
			}
		}
	}
	.multi-select-img {
		max-width: 25px;
		max-height: 20px;
		margin-left: (@padding-base-horizontal / 2);
		margin-right: @padding-base-horizontal;
		float: left;
	}
	.multi-select-name{
		float: left;
		font-weight: 400;
		color: @brand-primary;
		padding-top: 2px;
	}
}



// Resutls Search Form

.dropdown-toggle {
	color: #fff;
	font-size: @font-size-small;
	background: transparent;
	text-shadow: none;
	text-transform: uppercase;
	&:hover, &:focus {
		color: #fff;
		background: transparent;
		border-color: transparent;
	}
}

.results-search-form {
	.radio-tabs {
		padding-left: (@navbar-padding-horizontal / 2.5);
		margin-bottom: (@navbar-padding-vertical / 2);
	}
	.searchbox-input {
		font-size: @font-size-h3;
		border-bottom: 2px solid lighten(@body-bg, 5%);
		&.last {
			padding-left: 0;
		}
	}
}

.results-searchbox-icon {
	font-size: @font-size-h3;
	position: absolute;
	padding-top: (@navbar-padding-vertical / 2);
}

.results-datebox {
	padding-top: @navbar-padding-vertical;
	.prefix-icon-input {
		left: (@navbar-padding-horizontal * 2);
		opacity: .3;
	}
	.prefix-icon {
		padding-left: (@navbar-padding-horizontal * 4);
	}
}
.results-datebox-input {
	background: lighten(@body-bg, 2.5%);
	border: none;
	width: 100%;
	padding: (@navbar-padding-vertical / 2) @navbar-padding-horizontal; 
}


input {
	&.prefix-icon {
		padding-left: (@navbar-padding-horizontal * 2.5);
	}
	&.sufix-icon {
		padding-left: (@navbar-padding-horizontal * 2.5);
	}
}
.prefix-icon-input {
	left: @navbar-padding-horizontal;
}
.sufix-icon-input {
	right: @navbar-padding-horizontal;
}