// Navbar custom styling

.global-header {
	background: #313335;
	border: none;
	.navbar-nav > .active > a {
		background: transparent;
		box-shadow: inset 0 3px 0 #fff;
	}
}

.navbar-logo {
	display: block;
	padding: @navbar-padding-vertical @navbar-padding-horizontal; 
	margin-left: -@navbar-padding-horizontal;
	img {
		max-width: 125px;
	}
}

.nav-breadcrumb {
	box-shadow: 0 1px 0 rgba(255,255,255,.2);
	.navbar-logo {
		padding: (@navbar-padding-vertical * 1.6) @navbar-padding-horizontal; 
	}
}

.arrow-right {
	font-size: @font-size-h2;
	padding:  (@navbar-padding-vertical / 1.25) 0; 
	opacity: .2;
}

